// maroon       #8c2833
// dark blue    #26547c
// blue         #247ba0
// light-green  #70c1b3
// yellow       #f4d06f
// red          #ff495c
// light red    #ff7a88
// almost-black #090909
// almost-white #fafafa

$logo: #fafafa;
$item: #247ba0;
$nav: #247ba0;
$text: #247ba0;
$content: #ff7a88;
// $background: #F0FFFF;
// $header: rgba(189,161,70,.3);
$background: #6e7682;
$header: #373a3f;
$button: #f4d06f;
$black: #090909;
$white: #fafafa;
$grey: #d3d3d3;
