@import 'colors';
@import 'fonts';

:local(.profile) {
    margin: 10%, 5%;

    header {
        display: inline-block;
        background-color: $header;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        div {
            width: 50px;
            float: left;
            padding: 0;
            img {
                display: block;
                background-color: $logo;
                border-radius: 100%;
                max-width: 100%;
            }
        }
        
        h1 {
            width: 30%;
            float: left;
            // font-family: $h1;
            // font: 3em;
        }

        nav {
            box-sizing: border-box;
            text-align: right; 
            width: 80%;
            float: right;
            position: absolute;
            list-style: none;
            margin-bottom: 1%;
            // position: relative;
            // z-index: 5;
            li {
                float: right;
                margin: 0 4% 0 0;
                position: relative; 
                display: block;    
            }
            li:hover {
                color: $green;
                text-decoration: underline;
            }
            // nested ul for nav dropdown
            ul {
                background: $header;
                list-style: none;
                padding: 0;
                position: absolute;
                // left: -9999px;
            }
            ul li {
                padding-top: 1px;
                float: none;
                white-space: nowrap;
            }
            li:hover ul {
                left: 0;
            }
            li:hover li {
                background: $background;
            }
            li:hover ul li {
                text-decoration: none;
            }
            li:hover ul li:hover {
                background: $background;
            }
        }
    }
}
