<section ng-class="$ctrl.styles.profile">
    <header>
        <div>
            <img src="/img/pawsio-logo-transparent2.png" alt="PawsIO Logo">
        </div>
        <h1>P a w s I O</h1>
        <nav>
            <ul>
                <li ui-sref="profile">ACCOUNT
                    <ul>
                        <li 
                ng-if="$ctrl.isAuthenticated()"
                ui-sref="stats({ id: pet._id })"
                ng-repeat="pet in $ctrl.pets">{{ pet.name }}</li>
                    </ul>
                </li>
                <li ui-sref="about">ABOUT</li>
                <li ng-if="$ctrl.isAuthenticated()" ui-sref="about" ng-click="$ctrl.logout()">LOGOUT</li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="/img/joyous-husky.jpg" width=100%/>
        <ui-view></ui-view>
    </section>
</section>
