@import 'colors';
@import 'fonts';

:local(.profile) {
    margin: 10%, 5%;

    header {
        display: inline-block;
        background-color: $header;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        div {
            margin: 2% 4%;
            width: 50px;
            float: left;
            padding: 0;
            img {
                display: block;
                background-color: $logo;
                border-radius: 100%;
                max-width: 100%;
            }
        }
        
        h1 {
            width: 30%;
            float: left;
            font-family: $h1;
            font: 3em;
        }

        nav {
            box-sizing: border-box;
            text-align: right; 
            width: 48%;
            float: right;
            list-style: none;
            margin-top: 1.75%;
            padding-right: 2%;
            li {
                margin: 0 4% 0 0;
                display: inline-block;        
            }
        }
    }
}
