<section ng-class="$ctrl.styles.profile">
    <header>
        <div>
            <img src="/img/pawsio-logo-transparent2.png" alt="PawsIO Logo">
        </div>
        <h1>p a w s i o</h1>
        <nav>
            <li ui-sref="profile">ACCOUNT</li>
                <ul>
                    <li 
            ng-if="$ctrl.isAuthenticated()"
            ui-sref="stats({ id: pet._id })"
            ng-repeat="pet in $ctrl.pets">{{pet.name}}</li>
                </ul>
                <li ui-sref="about">ABOUT</li>
            <li ng-if="$ctrl.isAuthenticated()" ui-sref="about" ng-click="$ctrl.logout()">LOGOUT</li>
        </nav>
    </header>
    <!--<p>Profile parent content (profile) : Information about the user.<p>-->
    <section>
        <img src="/img/joyous-husky.jpg" width=100% height=25%/>
        <ui-view></ui-view>
    </section>
</section>
