@import 'colors';

$table-color: #ACDEFF; //light blue

:local(.pet) {
    text-align: center;

    table {
        // background-color: $grey;
        width: 50%;
        margin: 2% auto 0;
        border-collapse: collapse;
    }

    thead {
        font-weight: bold;
    }

    tbody {
        cursor: pointer;
    }

    table, th, td {
        // border: 1px solid black;
    }

    .hikes {
        margin-top: 2%;
    }

    ul {
        list-style: none;
    }
}

hr {
  border: 1px solid black;
}

.dates {
  font-family: Arial, sans-serif;
  border-radius: 25px;
  padding: 20px;
  width: 600px;
  height: 35px;
}

.dates:hover {
  .highlight {
    background-color: #607F94;
  }
}

.dates:nth-child(even) {
  color: $table-color;
}

.delete-btn {

  background-color: #c91c1c;
}

#pet-overview {
  font-family: Arial, sans-serif;
}

#pet-header {
  font-size: 20px;
  color: $table-color;
}

.table-header {
  color: $table-color;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.overview-stats {
  padding-bottom: 20px;
}

#delete-snap-td {
    height: 10px;
    width: 10px;
    font-size: 12px;
    color: red;
    padding: 0px;
    background-color: $background;
  }

  .delete-snap-span:hover {
    background-color: #607F94;
  }
