<section ng-class="$ctrl.styles.pet">
    <div>
        <p>Stats child content (stats.pet) : Specific info about the selected pet.</p>
        <p>{{$ctrl.pet.name}}</p>
        <p>{{$ctrl.pet.name}}'s weight: {{$ctrl.pet.weight}} pounds</p>
        <p>{{$ctrl.pet.name}}'s age: {{$ctrl.pet.age}} years old</p>
        <p>{{$ctrl.pet.name}}'s breed: {{$ctrl.pet.breed}}</p>
        <p>{{$ctrl.pet.name}}'s exercise requirements: {{$ctrl.pet.exerciseNeed}} minutes per day</p>
    </div>
    <div>
        <li ui-sref="snapshot({ id: data._id })"ng-repeat="data in $ctrl.petData.data">{{data.date}}</li>
    </div>
    <button ng-click="$ctrl.removePet(pet)">delete</button>
</section>
