<section ng-class="$ctrl.styles.pet">
    <div id="pet-overview">
        <h1 id="pet-header">{{$ctrl.pet.name}}</h1>
        <p class="overview-stats">Weight: {{$ctrl.pet.weight}} pounds</p>
        <p class="overview-stats">Age: {{$ctrl.pet.age}} years old</p>
        <p class="overview-stats">Breed: {{$ctrl.pet.breed}}</p>
        <p class="overview-stats">Exercise target: {{$ctrl.pet.exerciseNeed}} minutes per day</p>
        <p>Adventures with {{$ctrl.pet.name}}:</p>
    </div>
    <div class="hikes">
        <table>
            <thead>
                <tr>
                    <td class="table-header">Date</td>
                    <td class="table-header">Time</td>
                    <td class="table-header">Activity</td>
                </tr>
            </thead>
            <tbody>
                <tr class="dates" ng-repeat="data in $ctrl.dataPoints">
                    <td class="highlight">{{data.prettyDate}}</td>
                    <td class="highlight">{{data.time}}</td>
                    <td class="highlight">
                        <a href="#" editable-text="data.snapshotName" onaftersave="$ctrl.updateSnap(data, data.snapshotName)" class="name-link">{{ data.snapshotName || 'Name Your Hike' }}</a>
                    </td>
                    <td>
                        <button ng-click="$ctrl.go(data)">Go</button>
                    </td>
                    <td>
                        <button id="delete-snap-td" ng-click="$ctrl.removeSnap(data, $event)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="delete-btn" ng-click="$ctrl.removePet()">Delete</button>
</section>
