@import 'colors';
@import 'fonts';

#all-pets-content {
  position: relative;
  width: 100%; /* for IE 6 */
  background-image: url("/img/joyous-husky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 1000px;
  text-align: center;
  margin: 0;
}

.user-pets {
  margin: 15% 0 4% 0;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  h2 {
    display: inline-block;
    margin: 0 2% 0 0;
    border-bottom: 1px solid $black;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-family: $tag;
      font-size: 1.5em;
    }
  }
}

.add-pets {
  width: 100%;
  text-align: justify;
  font-size: 1.5em;
  ul {
    list-style: none;
    padding: 0;
    li {
      font-family: $tag;
      font-size: 1em;
    }
  }
}

button {
    background-color: $green;
    border: none;
    color: $background;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
    font-family: $body;
    margin: 0;
    cursor: pointer;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}