@import 'colors';
@import 'fonts';

.all-pets {
  position: relative;
  width: 100%; /* for IE 6 */
}

.all-pets {
    background-image: url("/img/joyous-husky.jpg");
    background-color: $background;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 700px;
    width: 100%;
    text-align: center;
    margin: 0;
}

button {
    background-color: $green;
    border: none;
    color: $background;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    font-family: $body;
    margin: 23% 0;
    cursor: pointer;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#all-pets-content {
  position: relative;
  font-family: $body;
  color: $background;
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: .8em;
  margin: 37% 0;
}

.current-pets {
  padding: 3%;
  width: 30%;
  text-align: justify;
  
  h1 {
    font-family: $tag;
    color: $green;
    text-align: center;
    font-size: 2em;
  }
}