<section ng-class="$ctrl.styles.about">
    <header>
        <div>
            <img src="/img/logo-alt.png" alt="PawsIO Logo">
        </div>
        <h1>p a w s i o</h1>
        <nav>
            <ul>
                <li ui-sref="profile">ACCOUNT
                    <ul>
                        <li 
                ng-if="$ctrl.isAuthenticated()"
                ui-sref="stats({ id: pet._id })"
                ng-repeat="pet in $ctrl.pets">{{ pet.name }}</li>
                    </ul>
                </li>
                <li ui-sref="about">ABOUT</li>
                <li ng-if="$ctrl.isAuthenticated()" ui-sref="about" ng-click="$ctrl.logout()">LOGOUT</li>
            </ul>
        </nav>
    </header>
    <ui-view></ui-view>
</section>
