:local(.about) {
    margin: 10% 2% 2%;

    header {
        display: inline-block;
        background-color: #f4d06f;
        margin: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        h1 {
            width: 30%;
            float: left;
        }

        nav {
            box-sizing: border-box;
            text-align: right; 
            width: 50%;
            float: right;
            list-style: none;
            margin-top: 1.75%;
            padding-right: 4%;
            li {
                margin: 0 4% 0 0;
                display: inline-block;           
            }
        }
    }

}

