<section ng-class="$ctrl.styles.about">
    <header>
        <div>
            <img src="/img/pawsio-logo-transparent2.png" alt="PawsIO Logo">
        </div>
        <h1>PawsIO</h1>
        <nav>
            <li 
            ng-if="$ctrl.isAuthenticated()"
            ui-sref="stats({ id: pet._id })"
            ng-repeat="pet in $ctrl.pets">
                {{pet.name}}
            </li>
            <li ui-sref="profile" ng-if="$ctrl.isAuthenticated()">profile</li>
            <li ui-sref="about">about</li>
            <li ng-if="$ctrl.isAuthenticated()" ui-sref="about" ng-click="$ctrl.logout()">logout</li>
            <li ng-if="!$ctrl.isAuthenticated()" ui-sref="profile">signin</li>
        </nav>
    </header>
    <ui-view></ui-view>
</section>
