@import 'colors';
@import 'fonts';

:local(.about) {
    margin: 0;
    header {
        display: inline-block;
        margin: 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: $span;
        div {
            width: 100%;
            margin: 1%;
            padding: 0;
            float: left;
            img {
                display: inline-block;
                border: 2px solid $green;
                background-color: $background;
                padding: 8px;
                border-radius: 100%;
                max-width: 3%;
                margin: 1% 0 0 0;
            }
            h1 {
                margin: 0;
                display: inline-block;
                font-family: $body;
                color: $background;
                font-size: 2em;
            }
            h2 {
                font-family: $tag;
                font-size: 1em;
                margin: 0 0 0 6%;
                color: $green;
            }
        }
        nav ul {
            box-sizing: border-box;
            text-align: left; 
            font-family: $body;
            font-size: 1em;
            width: 100%;
            float: right;
            position: absolute;
            list-style: none;
            margin: 0;
            li {
                float: right;
                margin: 0 4% 0 0;
                position: relative; 
                display: block;  
                color: $background;  
            }
            li:hover {
                color: $green;
                text-decoration: underline;
            }
            // nested ul for nav dropdown
            li ul {
                background: $header;
                background: rgba(189,161,70,0);
                list-style: none;
                padding: 0;
                position: absolute;
                display: none;
                li {
                    padding-top: 1px;
                    float: none;
                    white-space: nowrap;
                    color: $black;
                }
            }
            li:hover ul {
                display: block;
            }
            li:hover li {
                background: $dropdown;
            }
            li:hover ul li {
                text-decoration: none;
            }
            li:hover ul li:hover {
                background: $header;
            }
        }
    }
}
