<section ng-class="$ctrl.styles.manage">
    <div>
        <p>Profile child content (profile.manage) : Where you add pets.</p>
        <div>
            <div>
                <h3>Add a Pet</h3>
                <label>Name:</label>
                <input ng-model="$ctrl.name">
            </div>
            <div>
                <label>Breed:</label>
                <input ng-model="$ctrl.breed">
            </div>
            <div>
                <label>Weight:</label>
                <input ng-model="$ctrl.weight">
            </div>
            <div>
                <label>Age:</label>
                <input ng-model="$ctrl.age">
            </div>
            <button>Add</button>
            <button>Cancel</button>        
        </div>
    </div>
</section>
