@import 'colors';
@import 'fonts';

body {
    font-family: 'Andale Mono', Arial, sans-serif;
    background-color: $background;
    color: $text;
    margin: 0;
    padding: 0;
}

nav li:hover{
  cursor:pointer;
}

body, div, section, hr, p, details {
  margin: 0;
  border: 0;
  padding: 0;
}
