@import 'colors';
@import 'fonts';

.about-app {
  position: relative;
  width: 100%; /* for IE 6 */
}

.span {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
  background-color: $span;
  height: 250px;
}

.about-app {
    background-image: url("/img/paws.jpg");
    background-color: $background;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    max-height: 700px;
    width: 100%;
    text-align: center;
    margin: 0;
}

button {
    background-color: $green;
    border: none;
    color: $background;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    font-family: $body;
    cursor: pointer;
    margin: 10% 0 1% 5%;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#landing-content {
  position: relative;
  font-family: $body;
  color: $background;
  display: flex;
  flex-direction: row;
  text-align: justify;
  font-size: .8em;
  margin: 37% 0;
}

.landing {
  padding: 3%;
  width: 30%;
  text-align: justify;
  h1 {
    font-family: $tag;
    color: $green;
    text-align: center;
    font-size: 2em;
  }
}

footer {
  text-align: center;
  font-family: $heading;
  color: $black;
  padding: 25px;
  position: fixed;
}

footer:hover{
  cursor: pointer;
  color: $green;
}