<section>
  <div class="image">
    <h2>
      <span>
        <br>
          RE-IMAGINING WAYS TO CONNECT WITH YOUR PET'S FITNESS
        <br>
        <button ui-sref="profile">GET STARTED!</button>
      </span>
    <h2>
  </div>
  <div id="landing-content">
    <div class="landing">
      <h1> About </h1>
      <p>
        PawsIO is an integrated pet exercise and health monitoring app which harnesses
        the power of the Internet of Things to track each of your pets exercise session.
      </p>
    </div>
    <div class="landing">
      <h1> Insights </h1>
      <p>
        With PawsIO, you now have the ability to closely monitor your pets daily activity
        in a clear and concise manner. Use it to gauge if their needs (and yours!) have been met.
      </p>
    </div>
    <div class="landing">
      <h1> Advanced Data </h1>
      <p>
        PawsIO collects data related to the distance your pet travels, the ambient temperature
        around them, and noise intensity. Combined with insight from your veterenarian, you can quickly
        develop a solid exercise routine for you and your pet!
      </p>
    </div>
  </div>
  <footer ui-sref="about.developers">&copy; p a w s i o</footer>
</section>
