@import 'colors';

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

span {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  opacity: .82;
  // text-align: center;
}

.image {
    // background-image: url("/img/joyous-husky.jpg");
    background-image: url("/img/paws.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 700px;
    width: 100%;
    text-align: center;
    margin: 0;

    span {
      background-color: black;
    }
}

footer {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 70px 0px 0px 0px;
}

footer:hover{
  cursor:pointer;
  color: black;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'VT323', monospace;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#landing-content {
  background-color: $background;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  text-align: left;
  // font-size: 20px;
}

.landing {
  padding: 0px 50px 30px;
  border: .2px solid #c0c6d1;

}
