<section>
  <div class="about-app">
    <div class="span">
        <button ui-sref="profile">GET STARTED!</button>
    </div>
    <div id="landing-content">
    <div class="landing">
      <h1>ABOUT</h1>
      <p>
        PawsIO is an integrated pet exercise and health monitoring app which harnesses 
        the power of the Internet of Things to track each of your pets exercise session.  
      </p>
    </div>
    <div class="landing">
      <h1>INSIGHTS</h1>
      <p>
        With PawsIO, you now have the ability to closely monitor your pets daily activity 
        in a clear and concise manner. Use it to gauge if there needs (and yours!) have been met.
      </p>
    </div>
    <div class="landing">
      <h1>ADVANCED DATA</h1>
      <p>
        PawsIO collects data related to the distance your pet travels, the ambient temperature 
        around them, and noise intensity. Combined with insight from your veterenarian, you can quickly 
        develop a solid exercise routine for you and your pet!
      </p>
    </div>
  </div>
  <footer ui-sref="about.developers">&copy; p a w s i o</footer>
</section>
