<section>
  <div class="image">
    <!-- <img id="hero-img" src="/img/joyous-husky.jpg" alt="hero image"> -->
    <h2><span><br>Imagining a world where you can synchronize with your pets<br><button ui-sref="profile">Get Started!</button>
</span><h2>
  </div>
  <!-- <img id="hero-img" src="/img/paws.jpg" alt="hero image"> -->
      <div id="landing-content">
        <div class="landing">
        <h1> About </h1>
        <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book.</p>
    </div>
    <div class="landing">
    <h1> Insights </h1>
    <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type
specimen book.</p>
</div>
<div class="landing">
<h1> Advanced Data </h1>
<p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type
specimen book.</p>
</div>
  </div>
    <footer ui-sref="about.developers">&copy; Developers</footer>
</section>
